.button {
  padding: 9px 15px;
  border-radius: 2px;
  border: 0;
  background-color: $cerulean;
  text-align: center;
  color: $white;
  cursor: pointer;
  outline: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;

  &:active:not(.disabled):not(.icon) {
    background-color: $white2;
    &:not(.grey) {
      background-color: $cerulean;
    }
  }

  &:hover {
    background-color: $deep-aqua;
  }

  &-icon-container {
    display: inline;
    margin-right: 13px;
  }

  &.grey {
    background-color: $white2;
    color: $black;

    &:hover {
      background-color: $very-light-pink;
    }
  }

  &.full-width {
    width: 100%;
  }

  &.disabled {
    background-color: $gray;
    cursor: default;
  }

  svg {
    pointer-events: none;
    vertical-align: middle;
  }

  span {
    font-family: ProximaNova;
    font-size: 14px;
    vertical-align: middle;
  }

  &.icon {
    background-color: transparent;
    padding: 0;

    &:hover {
      path {
        stroke: $deep-aqua;
      }
    }

    path {
      transition: 0.2s;
      -webkit-transition: 0.2s;
      stroke: $cerulean;
      stroke-width: 2;
      fill: transparent;
    }

    &.filled {
      path {
        transition: 0.2s;
        -webkit-transition: 0.2s;
        fill: $cerulean;
        stroke-opacity: 0;
      }

      &:hover {
        path {
          fill: $deep-aqua;
        }
      }
    }
  }
}
