@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova_Regular.ttf");
}

@font-face {
  font-family: "ProximaNovaLight";
  src: url("../fonts/ProximaNova_Light.ttf");
}

@font-face {
  font-family: "ProximaNovaSemibold";
  src: url("../fonts/ProximaNova_Semibold.ttf");
}
